
html,body{
	height:100%;
	width:100%;
}
body{
	margin: 0 0 0 0;
	padding:0 0 0 0;
}
.main { 
	width:100%;
  	float: left;
    margin-right: -200px;
   overflow: hidden;
   height: 1000px;
} 


.Left {
	 width:20%;
	 float:left;
	background-color: black;
	position: fixed;
}

.Right {
	
	 width: 80%;
 float: right;
background-color: red;
}

.Top {
	 height:15%;
	 float:left;
	 width: 100%;
	background-color: blue;
	position: fixed;
}

.Bottom {
	margin-top: 15%;
	background-color: red;
}